.custom-table {
    border-collapse: collapse;
    width: 100%;
}
.custom-table td,
.custom-table th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
.custom-table tr:hover {
    background-color: #ddd;
}

.nav-pills .nav-link:not(.active) {
    background-color: #DDDDDD;
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}

.moveable {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 205px;
}

.lighter-color {
    color: #999;
}

.curson-poiter {
    cursor: pointer;
}